export HTTP_PROXY=http://proxy.ar.bsch:8080
export https_proxy=https://proxy.ar.bsch:8080
export http_proxy=http://proxy.ar.bsch:8080
export no_proxy=.ar.bsch
export NO_PROXY=.ar.bsch
export HTTPS_PROXY=https://proxy.ar.bsch:8080